$font-family: 'Poppins', sans-serif;

body {
    font-family: $font-family;
}

a {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}