.nav {

    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    

    &__logo {
        height: 100%;


        &--svg {
            width: 70px !important;
            padding: 25px;

        }

    }

    &__navbar {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &--link {
            padding: 10px 15px;
            cursor: pointer;
            text-transform: uppercase;

        }
    }



}